*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #eee;
}
.main{
    width: 100%;
    height: 45px;
    position: fixed;
    text-align: right;
    top: 0;
    background-color: #fff;
    z-index: 99;
}
a{
     color: #333;
}
.main #logo{
    padding: 12px 15px;
    /*float: left;*/
    margin-right: 20px;
    position: absolute;
    left: 0;
}
.main #logo img{
    width: 58px;
    height: 20px;
}
.main ul{
    /*width: 70%;*/
    display: flex;
    /*text-align: right;*/
    position: absolute;
    right: 10px;
    line-height: 45px;
    /*float: left*/
}
.main ul li{
    list-style: none;
    margin-left: 15px;
    text-align: center;
}
.search{
    width: 16px;
    height: 16px;
}
.search-a{
    padding-top: 2px;
}
#container{
    width: 100%;
    height: 100%;
    margin-top:45px;
}
.footer{
    width: 100%;
    height: 58px;
    background-color: rgba(51,51,51,.8);
    display: flex;
    position: fixed;
    bottom: 0;
}
.footer span{
    margin-left: 8px;
    margin-top: 10px;
    width: 38px;
    height: 38px;
    display: inline-block;
}
.footer img{
    width: 100%;
    height: 100%;
}
.footer p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 58px;
    margin-left: 15px;
}
.footer button{
    background-color: #ff2742;
    color: #fff;
    width: 70px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    right: 8px;
    top: 18px;
    border: 0;
    border-radius: 4px;
}